@model CardCram.Client.Models.DeckViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To CardCram! </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-area="" asp-controller="Card" asp-action="AddCard">Add a Card</a><br>
    <a asp-area="" asp-controller="Card" asp-action="DeleteCard">Delete a Card</a><br>
    <a asp-area="" asp-controller="Deck" asp-action="CreateDeck">Create a Deck</a><br>
    <a asp-area="" asp-controller="Deck" asp-action="DeleteDeck">Delete a Deck</a><br>
</div>
